/* general */
.formContainer h2 {
    margin: 0px 0px 20px 0px;
}
.formContainer form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}

.formContainer label {
    font-weight: bold;
    margin: 0px 0px;
}

.formContainer input,
.formContainer textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.formContainer textarea {
    resize: vertical;
}



.formContainer button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.formContainer p {
    margin-top: 16px;
}

.formContainer a {
    color: #333;
    text-decoration: underline;
}

.formContainer a:hover {
    color: #555;
}
.btnBanUser {
    border: 1px solid var(--primary-red) !important;
}
/* general ends */
#admin_social_media_apps {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5%;
}
header input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 250px;
}
header button {
    width: 100px;
    height: 30px;   
    cursor: pointer;
}

.formContainer {
    width: 25%;
    background-color: var(--gray-2-25);
    height: fit-content;
    padding: 20px 15px;
    border-radius: 20px;
    position: sticky;
    top: 10px;
}
.cardContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}
.cardContainer h2 {
    color: var(--gray-2);
}
.card {
    background-color: var(--primary-light-blue-25-opa30);
    padding: 30px;
    border-radius: 20px;
    grid-column: span 1;
}
.card .links {
    margin-top: 20px;
}
.card .links p {
    color: var(--gray-2);
    margin: 0 !important;
}
.card .buttons {
    margin-top: 20px;
}
.card .bgBlueButton,
.card .bgWhiteButton {
    width: 100px;
    height: 40px;
    cursor: pointer;
}





