@media screen and (max-width: 1286px) {
    nav form {
        flex-direction: column;
    }
    nav form * {
        width: 100% !important;
        margin-bottom: 3px;
    }
}
@media screen and (max-width: 986px) {
    nav {
        flex-wrap: wrap;
        justify-content: center;
    }
    nav > ul {
        flex: 1;
    }
    nav form {
        flex-direction: row;
        margin-top: 3px;
    }
}

@media screen and (max-width: 703px) {
    nav > ul {
        flex-direction: column;
        gap: 10px;
    }
}

.parentHelpAnimation {
    width: 60px;
    aspect-ratio: 1;
    background: linear-gradient(#dc1818 0 0) bottom/100% 0% no-repeat #ccc;
    -webkit-mask: radial-gradient(circle at 60% 65%, #000 62%, #0000 65%) top left, radial-gradient(circle at 40% 65%, #000 62%, #0000 65%) top right,
        linear-gradient(to bottom left, #000 42%, #0000 43%) bottom left, linear-gradient(to bottom right, #000 42%, #0000 43%) bottom right;
    -webkit-mask-size: 50% 50%;
    -webkit-mask-repeat: no-repeat;
    animation: l19 2s infinite linear;
}
@keyframes l19 {
    90%,
    100% {
        background-size: 100% 100%;
    }
}
