@media screen and (max-width: 1286px) {
    nav form {
        flex-direction: column;
    }
    nav form * {
        width: 100% !important;
        margin-bottom: 3px;
    }
}
@media screen and (max-width: 986px) {
    nav {
        flex-wrap: wrap;
        justify-content: center;
    }
    nav > ul {
        flex: 1;
    }
    nav form {
        flex-direction: row;
        margin-top: 3px;
    }
}

@media screen and (max-width: 703px) {
    nav > ul {
        flex-direction: column;
        gap: 10px;
    }
}

.serviceAnimation {
    width: 60px;
    aspect-ratio: 1;
    padding: 10px;
    box-sizing: border-box;
    display: grid;
}
.serviceAnimation,
.serviceAnimation:before,
.serviceAnimation:after {
    --c: no-repeat linear-gradient(#046d8b 0 0);
    background: var(--c), var(--c), var(--c), var(--c);
    animation: l18-1 1.5s infinite cubic-bezier(0, 0, 1, 1), l18-2 1.5s infinite;
}
.serviceAnimation:before,
.serviceAnimation:after {
    content: "";
    grid-area: 1/1;
    animation-timing-function: cubic-bezier(0, 0.2, 1, 1), linear;
}
.serviceAnimation:after {
    margin: 10px;
    animation-timing-function: cubic-bezier(0, 0.4, 1, 1), linear;
}
@keyframes l18-1 {
    0%,
    10% {
        background-size: 0 4px, 4px 0;
    }
    40%,
    60% {
        background-size: 100% 4px, 4px 100%;
    }
    90%,
    100% {
        background-size: 0 4px, 4px 0;
    }
}
@keyframes l18-2 {
    0%,
    49.9% {
        background-position: 0 0, 0 0, 100% 100%, 100% 100%;
    }
    50%,
    100% {
        background-position: 100% 0, 0 100%, 0 100%, 100% 0;
    }
}
