/* rounded */
.rounded {
    border-radius: var(--rounded);
}
.rounded-full {
    border-radius: 99999999px;
}
.rounded-20px {
    border-radius: 20px;
}
.rounded-10px {
    border-radius: 10px;
}
/* rounded end */

/* shadow */
.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* shadow end */

/* border */
.border-none {
    border: none;
}
.border-gray-1 {
    border: 1px solid var(--gray-1);
}
/* border end */

/* outline */
.outline-none {
    outline: none;
}
/* outline end */