.flex {
    display: flex;
}
.flex-1-1-auto {
    flex: 1 1 auto;
}
.row {
    display: flex;
}
.column {
    display: flex;
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}
.justify-start {
    justify-content: flex-start;
}
.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}
.justify-even {
    justify-content: space-evenly;
}
.items-center {
    align-items: center;
}
.items-start {
    align-items: flex-start;
}
.items-stretch {
    align-items: stretch;
}

.flex-wrap {
    flex-wrap: wrap;
}