.flex {
    display: flex;
}
.row {
    display: flex;
}
.column {
    display: flex;
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}
.justify-start {
    justify-content: flex-start;
}
.justify-between {
    justify-content: space-between;
}
.items-center {
    align-items: center;
}
.items-start {
    align-items: flex-start;
}