.mt {
    margin-top: var(--mt);
}
.mb {
    margin-bottom: var(--mb);
}
.ms {
    margin-left: var(--ms);
}
.me {
    margin-right: var(--me);
}
.mx-auto {
    margin-inline: auto;
}
.ms-1rem {
    margin-left: 1rem ;
}
.ms-2rem {
    margin-left: 2rem ;
}
.ms-3rem {
    margin-left: 3rem ;
}
.mb-1rem {
    margin-bottom: 1rem;
}
.mb-5px {
    margin-bottom: 5px;
}
.mb-2px {
    margin-bottom: 2px;
}
.mb-2rem {
    margin-bottom: 2rem;
}
.mb-3rem {
    margin-bottom: 3rem;
}