.text-red {
    color: red !important;
}
.text-primary-red {
    color: var(--primary-red);
}
.text-primary-color {
    color: var(--text-primary-dark-blue) !important;
}
.text-gray-2 {
    color: var(--gray-2);
}
.fs-30px {
    font-size: 30px;
}
.fs-16px {
    font-size: 16px;
}
.fs-18px {
    font-size: 18px;
}
.fs-20px {
    font-size: 20px;
}
.font-bold {
    font-weight: bold;
}
.font-bolder {
    font-weight: bolder;
}
.text-decoration-none {
    text-decoration: none !important;
}

.text-justify {
    text-align: justify;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.leading {
    line-height: var(--leading);
}

.fs {
    font-size: var(--fs);
}
.fw {
    font-weight: var(--fw);
}
