.w-full {
    width: 100%;
}
.h-full {
    height: 100%;
}
.w {
    width: var(--w);
}
.w-200px {
    width: 200px;
}
.w-400px {
    width: 400px;
}
.h-200px {
    height: 200px;
}
.h-350px {
    height: 350px;
}
.h {
    height: var(--h);
}
.min-w {
    min-width: var(--min-w);
}
.min-h {
    min-height: var(--min-h);
}
.min-h-300px {
    min-height: 300px;
}

.w-151px {
    width: 151px;
}
.h-44px {
    height: 44px;
}

